<div class="bg-gray-800 my-10">
  <div class="container mx-auto p-10 flex flex-col md:flex-row items-center justify-center md:gap-20">
    <div class="md:w-[30vw] order-last md:order-first text-center md:text-left md:rtl:text-right">
      <h4 class="text-4xl font-extrabold text-white mb-3"><%= t('home.about_us.title') %></h4>
      <p class="text-white text-xl mb-5 mr-0">
        <%= t('home.about_us.description_html') %>
      </p>
      <%= link_to t('home.about_us.link_html'), about_path, class: "inline-flex items-center justify-center px-4 py-2 text-base font-small text-center text-white bg-[#DD5121] rounded-lg hover:hover:bg-[#e0430f] focus:ring-4" %>
    </div>
    <div class="md:w-[30vw]">
      <%= image_tag "select-food.svg", class: "w-full h-[300px] transform rtl:scale-x-[-1]" %>
    </div>
  </div>
</div>