<div class="bg-gray-800">
  <div class="container mx-auto p-5 md:p-20">
    <%= video_tag "videos/bisquad.mp4", class: "w-full", controls: true, loop: true, poster: "videos/bisquad-poster.jpg" %>
  </div>
</div>