<footer class="bg-gray-900">
  <div class="container mx-auto flex flex-col md:flex-row justify-center items-center md:items-start gap-10 py-8">
    <div class="flex justify-center items-center gap-5">
      <div class="flex flex-col items-center">
        <h6 class="text-white font-bold text-lg mb-4 border-b-4 border-white text-center w-[150px]">About</h6>
        <p><a href="#" class="text-gray-400 hover:text-white transition-colors duration-300">Vision</a></p>
        <p><a href="#" class="text-gray-400 hover:text-white transition-colors duration-300">Mission</a></p>
      </div>
      <div class="flex flex-col items-center">
        <h6 class="text-white font-bold text-lg mb-4 border-b-4 border-white text-center w-[150px]">Help</h6>
        <p><a href="#" class="text-gray-400 hover:text-white transition-colors duration-300">Contact us</a></p>
        <p><a href="#" class="text-gray-400 hover:text-white transition-colors duration-300">Call us on "01xxxxxxxxx"</a></p>
      </div>
    </div>
    <div class="text-gray-400 w-[80vw] md:w-[20vw] flex flex-col items-center justify:center gap-2 md:border-l-4 md:pl-10">
      <h6>
        <%= link_to icon('fa-brands', 'facebook'), '#', target: '_blank', class: 'text-gray-400 hover:text-white transition-colors duration-300 text-xl mr-2' %>
        <%= link_to icon('fa-brands', 'instagram'), '#', target: '_blank', class: 'text-gray-400 hover:text-white transition-colors duration-300 text-xl mr-2' %>
        <%= link_to icon('fa-brands', 'tiktok'), '#', target: '_blank', class: 'text-gray-400 hover:text-white transition-colors duration-300 text-xl' %>
      </h6>
      <p class="text-md">We are bisquad a grad project that develop a marketing plan that includes a range of tactics to reach potential customers, including social media marketing, content marketing, and search engine optimization.</p>
      <p class="text-gray-400 text-sm">© 2023 Bisquad. All rights reserved.</p>
    </div>
  </div>
</footer>