<h1>You got a new mail from Bisquad website</h1>
<p>
  From: <%= params[:contact]['name'] %><br />
  Email: <%= params[:contact]['email'] %><br />
  Phone: <%= params[:contact]['phone'] %><br />
  Message: <%= params[:contact]['message'] %>
</p>
