/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome';

body {
  background: #244f79;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  height: 80vh;
}


/* .swiper-slide img {
  display: block;
  width: 100vw;
  height: 80vh;
  object-fit: cover;
} */

.background-1 {
  content: '';
  position: absolute;
  background: url('choco-1.jpg');
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-2 {
  content: '';
  position: absolute;
  background: url('choco-2.jpg');
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-3 {
  content: '';
  position: absolute;
  background: url('choco-3.jpg');
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-4 {
  content: '';
  position: absolute;
  background: url('choco-4.jpg');
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-about {
  content: '';
  position: absolute;
  background: url('about/about-showcase.png');
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.choco {
  position: relative;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
}

.self-intro {
  position: relative;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  height: 50vh;
}

.swiper-1 {
  width: 200px;
  height: 200px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  height: auto;
  width: auto;
  border-radius: 100%;
  text-align: center;
}

.vision-list {
  background-image: url('about/vision-2.png');
  background-size: cover;
}

.swiper-container {
  position: relative;
}

.member {
  width: 270px;
  padding: 50px;
  background-color: #000;
  border-radius: 12px;
}

.member img {
  height: 250px;
}